#modalBox {
  width: 100%;
  
}
#messageBox {
  width: 70%;
  min-height: 250px;
  border: 2px solid  rgba(246, 247, 248, 0.515);
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 35px auto 35px auto;
  position: relative;
}

#messageInfo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
#messageInfo h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
#messageInfo h5{
  font-family: 'Roboto', sans-serif;
  color: rgb(177, 177, 177)
}
#messageContent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  width: 90%;
  margin-left: 20px;
  /* padding-bottom: 20px; */
  text-align: left;
  font-weight: 400;

}

#messageBox:hover{
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#userReaction {
  display: flex;
  justify-content: space-around;
}

#commentButton {
  margin-right: 20px;
  width: 100px;
}

#likeButton {
  width: 80px;
}

.fa {
  font-size: 24px;
}

@media screen and (max-width: 768px){
  #userReaction {
    position: absolute;
    left: 20px;
    bottom: -5px;
  }
}

@media screen and (min-width: 769px){
  #userReaction {
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
}

#facebookShare {
  height: 50px;
  width: 80px;
  position: absolute;
  bottom: 20px;
  right: 25px;
  filter: grayscale(.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#facebookShare button:focus {
  outline: none;
}

#facebookShare svg {
  height: 20px;
  width: 20px;
}
#facebookShare circle {
  height: 20px;
  width: 20px;
}
#facebookShare button {
  height: 20px;
  width: 20px;
}


@media screen and (max-width: 350px){
  #messageBox {
    min-height: 400px;
  }
  #userReaction {
    bottom: 50px;
    left: 50px;
  }

}
@media screen and (max-width: 768px){
  #messageBox {
    width: 97%;
  }
  #facebookShare {
    bottom: 0px;
    width: 100px;
  }
  #facebookShare svg {
    height: 26px;
    width: 26px;
  }
  #facebookShare circle {
    height: 26px;
    width: 26px;
  }
  #facebookShare button {
    height: 26px;
    width: 26px;
  }
  #facebookShare .react-share__ShareButton {
    height: 26px;
    width: 26px;
  }
  
}

#questionButton {
  clear: both;
  display: block;
  padding: 5px;
  margin: 35px auto 20px auto;
  height: 65px;
  width: 200px; 
  background-color: rgba(72,168,238, 0.0);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  border: 1px solid #48a9ee;
  border-radius: 50px;
  color: rgb(72,168,238);
}

#questionButton:hover {
  background-color: rgba(72,168,238, 1);
  color: white;
  transition: ease-in .3s;

  }
#questionButton:focus { 
  outline:none 
}

#modalTitle {
  /* text-align: center; */
  margin-top: 30px;
  
}



#modalBox {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ReactModal__Content.ReactModal__Content--after-open {
  height: 80vh;
}
@media screen and (max-width: 1024px){
  #questionButton{
    width: 200px;
  }

}
@media screen and (max-width: 821px){
 
  #questionButton {
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 200px;
  }
  
}